.git
.gitattributes
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.nova
.zed
docker-compose.yml
Dockerfile
README.md
